<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Gameroom", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
    <section class="top-bar-section">
<!-- Right Nav Section -->
      <ul class="right">
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li class="has-dropdown">
          <%= link_to "Services", services_path %>
          <ul class="dropdown">
            <li><a href="/services#sell">Selling/Trading</a></li>
            <li><a href="/services#repairs">Repairs</a></li>
            <li><a href="/services#disc">Disc Cleaning</a></li>
            <li><a href="/services#volun">Volunteering</a></li>
          </ul>
        </li>
        <li class="has-dropdown">
          <%= link_to "Locations", locations_path %>
          <ul class="dropdown">
            <li><a href="/locations#downtown">Gameroom Downtown</a></li>
            <li><a href="/locations#south">Gameroom South</a></li>
          </ul>
        </li>
      </ul>
<!-- Left Nav Section -->
      <ul class="left">
        <% if signed_in? %>
          <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              <li>
                <%= link_to current_user do %>
                  <i class="fa fa-user"></i>
                  Profile
                <% end %>
              </li>
              <li>
                <%= link_to '#' do %>
                  <i class="fa fa-cogs"></i>
                  Settings
                <% end %>
              </li>
              <li class="divider"></li>
              <li>
                <%= link_to signout_path, method: 'delete' do %>
                  <i class="fa fa-sign-out"></i>
                  Sign out
                <% end %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </section>
</nav>